[user]
    name = Serkan Yersen
    email = serkanyersen@gmail.com
  	signingkey = E53C8694894E9849

[github]
    user = serkanyersen

[color]
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[branch]
    autosetuprebase = always
    autosetupmerge = true

[branch "master"]
    remote = origin
    merge = refs/heads/master
    mergeoptions = --no-ff

[push]
    default = tracking

[commit]
    verbose = true
    # gpgsign = true

[fetch]
    prune = true

[rerere]
    enabled = true

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff HEAD
    lg = log -p
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    # unstage = reset --hard HEAD
    unstage = !sh -c 'git reset --hard HEAD && git clean -fd'
    put = push origin HEAD
    undo = reset --soft HEAD^
    rpo = remote prune origin
    cob = !sh -c 'git co -b "$0"'
    cor = !sh -c 'git co -t "$0"'
    update = !sh -c 'git stash && git pull && git stash pop'

[core]
	editor = vim
	excludesfile = /Users/serkanyersen/.gitignore_global

[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f

[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[pull]
	rebase = true

[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

# If you want to set up Kaleidoscope as the default diff tool,
# then also set the following variables:
[difftool]
    prompt = false

[diff]
    tool = Kaleidoscope

[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" \"$REMOTE\"

# If you want to set up Kaleidoscope as the default merge tool,
# then also set the following variables:
[mergetool]
    prompt = false

[merge]
    tool = Kaleidoscope

[url "git@github.com:"]
	insteadOf = https://github.com/
